body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.draggable
  touch-action: none
  user-select: none
  z-index: 9999

.resize-drag
  background-color: #29e
  color: white
  font-size: 20px
  font-family: sans-serif
  border-radius: 8px
  padding: 20px
  touch-action: none

  width: 120px

  /* This makes things *much* easier */
  box-sizing: border-box


